<h1>Listing public_images</h1>

<table class="table">
  <thead>
    <tr>
      <th>Contest record</th>
      <th>Src</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @public_images.each do |public_image| %>
      <tr>
        <td><%= public_image.contest_record %></td>
        <td><%= public_image.src %></td>
        <td><%= link_to 'Show', [:admin, public_image] %></td>
        <td><%= link_to 'Edit', edit_admin_public_image_path(public_image) %></td>
        <td><%= link_to 'Destroy', [:admin, public_image], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public image', new_admin_public_image_path %>
