<%= form_for([:admin, @partner]) do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% @partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image, 'Zmień obraz:' %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :url, 'Url' %><br>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :partner_category, 'Typ:' %><br>
    <%= f.select :partner_category_id, PartnerCategory.all.map {|category| [category.name, category.id] },
      selected: params[:partner_category_id] || @partner.partner_category_id
    %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
