<h1>Edytuj Archiwum</h1>

<div class="row">
	<div class="col-xs-6">
		<%= render 'form' %>
		<br>
		<%= link_to 'Back', admin_contest_archives_path %>
	</div>
	<div class="col-xs-18">
	
		<table class="table">
		  <thead>
		    <tr>
		    	<th>Rekordy:</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @contest_archive.contest_records.order(:id).each do |record| %>
		      <tr>
		      	<td><%= image_tag record.public_images.first.src.url(:thumb) if record.public_images.first %></td>
		        <td><%= record.title %></td>
		        <td><%= link_to 'Edit', edit_admin_contest_record_path(record) %></td>
		        <td><%= link_to 'Destroy', [:admin, record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		<%= link_to '+ Nowy Rekord', "/admin/contest_records/new?contest_archive_id=#{@contest_archive.id}" %>
	</div>
</div>


