<h1>Edytuj Archiwum</h1>

<div class="row">
	<div class="col-xs-6">
		<%= render 'form' %>

		<br>
		<%= link_to 'Back', admin_contest_archives_path %>
	</div>
	<div class="col-xs-18">
	
	<%= link_to button_tag('zapisz kolejnosc'), '' ,:class=>"update-ordering" %>
		<div class="table">
		  <div>
		    <trdiv>
		    	<div>Rekordy:</div>
		    </div>
		  </div>

		  <div class="ordering-container" >
		    <% @contest_archive.contest_records.order(id: :desc).each_with_index do |record, idx| %>
		      <div class="ordering-movable" data-order="<%= idx %>" 
		      data-id="<%= record.id %>"
					style="order:<%= idx %>"
		      >
		      	<div class="table-image"><%= image_tag record.public_images.first.src.url(:thumb) if record.public_images.first %></div>
		        <div class="table-name"><%= record.title %></div>
		        <div><%= link_to 'Edit', edit_admin_contest_record_path(record) %></div>
		        <div><%= link_to 'Destroy', [:admin, record], method: :delete, data: { confirm: 'Are you sure?' } %></div>
		        <div>
  	        <div class="ordering-control">
			          <button class="ordering-button glyphicon glyphicon-chevron-up" data-ordering='-1'> </button>
	          <button class="ordering-button glyphicon glyphicon-chevron-down" data-ordering='+1'></button>
	        </div>
		        </div>
		      </div>
		    <% end %>
		  </div>
		</div>
		
		<%= link_to '+ Nowy Rekord', "/admin/contest_records/new?contest_archive_id=#{@contest_archive.id}" %>
	</div>
</div>

<script>
	ordering();
	updateOrdering("/admin/update_contest_record_order");
</script>
