<p id="notice"><%= notice %></p>

<h1>Listing Attachments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Src</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.src %></td>
        <td><%= attachment.name %></td>
        <td><%= link_to 'Show', [:admin, attachment] %></td>
        <td><%= link_to 'Edit', edit_admin_attachment_path(attachment) %></td>
        <td><%= link_to 'Destroy', [:admin, attachment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_admin_attachment_path %>
