<div class="container">
  <div id="map-info" class="row" data-lat='<%= @center.lat || 50.066383 %>' data-lng='<%= @center.lng || 19.941618 %>'data-zoom="<%= @zoom %>">
  	<div class="col-xs-20 col-xs-offset-2 col-md-14 col-md-offset-5">
      <div class="paragraph">
        <div class="contact-flex">
      		<%= raw( @page.body ) if @page.present? %>
        </div>
      </div>

      <div class="newsletter-form">
        <%= render 'newsaddresses/form'%>
      </div>

  	</div>
  </div> <!-- end row -->
</div> <!-- end container -->


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOmYFHMmQDhd9hvc3MB1eMoOLq3MCw_zA&callback=initMap">
</script>

<script type="text/javascript">
var map;
var info = $('#map-info');
var lat = parseFloat(info.data('lat'));
var lng = parseFloat( info.data('lng'));
var zoom = info.data('zoom');
console.log( lat );

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: lat,  lng: lng },
    zoom: zoom,
    scrollwheel: false,
    streetViewControl: false,
    mapTypeControl: false,
    zoomControlOptions: {
      position: google.maps.ControlPosition.RIGHT_CENTER
    },
    // disableDefaultUI: true
  });

  console.log( $('#markers').children() );
  $('#markers').children().each( function(idx, marker){
    console.log(typeof parseFloat($(marker).data('lat')) )
    addMarker( parseFloat($(marker).data('lat')), parseFloat( $(marker).data('lng') ), $(marker).data('desc') )
  } )
}

initMap();

var marker;
function addMarker(lat, lng, title){
  marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map,
    title: title
  })
}
</script>