<div class="container">
  <div id="map-info" class="row" data-lat='<%= @center.lat || 50.066383 %>' data-lng='<%= @center.lng || 19.941618 %>'data-zoom="<%= @zoom %>">
    <div class="col-xs-20 col-xs-offset-2 col-md-14 col-md-offset-5">
      <div class="paragraph">
        <div class="contact-flex">
          <%= raw( @page.body ) if @page.present? %>
        </div>
      </div>

      <div class="newsletter-form xs-gone">
         <%= render 'newsaddresses/form'%>
      </div>

    </div>
  </div> <!-- end row -->
</div> <!-- end container -->


<div id="map" ></div>
<div id="markers">
<% Marker.all.each do |marker| %>
  <i data-lat = " <%= marker.lat %> " data-lng = " <%= marker.lng %>" data-desc=" <%= marker.desc %> " data-color="<%= marker.color %>" ></i>
<% end %>
</div>

<div class="container xs-appear">
    <div class="col-xs-20 col-xs-offset-2 col-md-14 col-md-offset-5">
      <div class="newsletter-form">
        <%= render 'newsaddresses/form'%>
      </div>
  </div> <!-- end row -->
</div> <!-- end container -->

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOmYFHMmQDhd9hvc3MB1eMoOLq3MCw_zA&callback=initMap">
</script>

<script type="text/javascript">
var map;
var info = $('#map-info');
var lat = parseFloat(info.data('lat'));
var lng = parseFloat( info.data('lng'));
var zoom = info.data('zoom');

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: lat,  lng: lng },
    zoom: zoom,
    scrollwheel: false,
    streetViewControl: false,
    mapTypeControl: false,
    zoomControlOptions: {
      position: google.maps.ControlPosition.RIGHT_CENTER
    },
    // disableDefaultUI: true
  });

  var styles = [
    {
      stylers: [
        { hue: '#00ffe6' },
        { saturation: -100 }
      ]
    }
  ];

  map.setOptions({styles: styles});

  $('#markers').children().each( function(idx, marker){
    addMarker( parseFloat($(marker).data('lat')), parseFloat( $(marker).data('lng') ), $(marker).data('desc'), $(marker).data('color') )
  } )
}

initMap();

function addMarker(lat, lng, title, color){
  var infowindow = new google.maps.InfoWindow({
    content: '<strong>' + title + '</strong>'
  });

  var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + color.slice(1),
    new google.maps.Size(21, 34),
    new google.maps.Point(0,0),
    new google.maps.Point(10, 34));


  var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map,
    icon: pinImage,
  })

  marker.addListener('click', function () {
    infowindow.open(map, marker)
  })
}
</script>
