<h1>Archiwa Konferencja</h1>

<div class="table ordering-table">
  <div>
    <strong>Name</strong>
    <%= link_to 'Zapisz kolejność', '', :class=>"update-ordering float-right"%>
  </div>

  <div class="ordering-container" >
    <% Archive.all.order(order: :asc).each_with_index do |archive, idx| %>
      <div class="ordering-movable ordering-table__row"
        data-order="<%= idx %>"
        data-id="<%= archive.id %>"
        style="order:<%= idx %>"
      >
        <div class="ordering-table__attribute"> <%= archive.title %> </div>
        <div class="ordering-table__attribute"> <%= archive.titlePL %> </div>
        <div><%= link_to 'Edit', edit_admin_contest_archive_path(archive) %></div>
        <div><%= link_to 'Destroy', [:admin, archive], method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <div>
        <div class="ordering-control">
            <button class="ordering-button glyphicon glyphicon-chevron-up" data-ordering='-1'> </button>
        <button class="ordering-button glyphicon glyphicon-chevron-down" data-ordering='+1'></button>
      </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Nowe Archiwum', new_admin_archive_path %>

<script type="text/javascript">
  ordering();
  updateOrdering("/admin/update_archive_order");
</script>
