<div class="container">
  <div class="row">
    <h1>Email konferencja</h1>
    <%= link_to 'wyślij testowy email', admin_email_send_conference_path %><br>
    <%= link_to 'wyślij testowy email PL', admin_email_send_conference_pl_path %><br>
    <small>(Email zostanie wysłany na adres inawbiennale@gmail.com)</small>
  </div>

  <br>
  <%= form_for([:admin, @general]) do |f| %>
    <% if @general.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@general.errors.count, "error") %> prohibited this general from being saved:</h2>

        <ul>
        <% @general.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div>
        <%= f.label :registration_conference_mail, "treść maila - en" %><br>
        <%= f.cktext_area :registration_conference_mail %>
      </div>

      <br>

      <div>
        <%= f.label :registration_conference_mail_PL, "treść maila -  pl" %><br>
        <%= f.cktext_area :registration_conference_mail_PL %>
      </div>

      <br>
    </div>

    <br>
    <h1></h1>
    <br>

    <div class="row">
      <div>
        <%= f.label :conference_mail_attachment, "załącznik email -  en" %><br>
        <%= f.file_field :conference_mail_attachment %>
      </div>
      <br>
      <div>
        <%= f.label :conference_mail_attachment_PL, "załącznik email -  pl" %><br>
        <%= f.file_field :conference_mail_attachment_PL %>
      </div>
    </div>

    <br>
    <h1></h1>
    <br>

    <div class="row">
      <div>
        <%= f.label :pdf_header, "nagłówek pdf" %><br>
        <%= f.cktext_area :pdf_header %>
      </div>

      <br>

      <div>
        <%= f.label :pdf_conference_body, "treść pdf" %><br>
        <%= f.cktext_area :pdf_conference_body %>
      </div>
    </div>

    <br>
    <h1></h1>
    <br>

    <div class="row">
      <%= f.submit 'Wprowadź zmiany' %>
    </div>
  <% end %>
</div>