<p id="notice"><%= notice %></p>

<p>
  <strong>Src:</strong>
  <%= @image.src %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @image.registration %>
</p>

<%= link_to 'Edit', edit_admin_image_path(@image) %> |
<%= link_to 'Back', admin_images_path %>
