<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @record.body %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @record.archive %>
</p>

<%= link_to 'Edit', edit_admin_record_path(@record) %> |
<%= link_to 'Back', admin_records_path %>
