<hr>
<div class="container">
	

<div class="archive" id="archive_select">

<h3 class="blue"><%= t( "archive" ) %></h3>

	<%= render 'layouts/contest_archive_panel'  %>

</div>

<div id="archiveModal" class="modal fade" data-backdrop="false">
	<div class="modal-dialog">
		<div class="registration row ">

		<span class="modalControl">
			<!-- <span class = "mockupButton">  </span> -->
			<button type="button" class="close" data-dismiss="modal"> 
				<span class = 'xs-gone'> <%=  t( "close" )  %> </span> <span> <%= inline_svg('X.svg') %></span> 
			</button>
		</span>

  <%= render 'layouts/contest_archive_modal' %>

</div><!-- end row -->
	</div>


</div>

<div class="backdrop"></div>

</div> <!-- end container -->
<script>	

contestArchiveLogic()



	backdrop( $('.archive-image') );
</script>	