<!DOCTYPE html>
<html>
<head>
  <title>BiennaleINAW</title>
  <%= favicon_link_tag @settings.favicon_url %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic">
</head>
<body id="body"
	class=" <%= controller_name %> <%= action_name %> <%= controller.class.name.split("::").first %> "
	data-locale="<%= I18n.locale %>"
	data-primary-color="<%= @settings.primary_color %>"
	data-secondary-color="<%= @settings.secondary_color %>"
>
<%= render 'layouts/css_rules' %>
<%= render 'layouts/logout' if session[:administrator_id] %>

<div class="content">
	<% if controller.class.name.split("::").first != 'Admin' %>
		<div class="poster">
		<%= image_tag(@settings.primary_banner) if @settings.primary_banner %>
		</div>
	<% end %>
</div>

<% unless action_name == 'inactive'%>
	<% if controller.class.name.split("::").first == 'Admin' %>
		<%= render 'layouts/admin_nav' %>
	<% else %>
		<%= render "layouts/main_nav" %>
	<% end %>
<% end %>

<div class="content url" data-url="<%= request.env['PATH_INFO'] %>" >
	<% if controller.class.name.split("::").first == 'Admin' %>
		<div class="container">
			<%= yield %>
		</div>
	<% else %>
			<%= yield %>
	<% end %>
</div>

<% unless controller.class.name.split("::").first == 'Admin' || action_name == 'inactive' %>
	<%= render 'layouts/footer' %>
<% end %>

<script>
	(function(){
		posterOnOpen();
	})();

	addingCssRules()

</script>
<% if controller.class.name.split("::").first == 'Admin' %>
	<script>
		$('textarea').keydown(function(e) {
			if( e.shiftKey && e.keyCode == 32){
				e.preventDefault();
				var caret = $(this).caret();
				txt1= $(this).val();
				var txt2 = txt1.slice(0, caret) + "&nbsp;" + txt1.slice(caret);
				$(this).val(txt2);
				$(this).caret( caret +6 )
			}
		});
	</script>
<% end %>

</body>
</html>
